.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/target/
/out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.DS_Store

git rm -r -f --cached

git add

git commit -m "Remove files"

git push -u

git rm -r .idea -f
git commit -m ".idea is deleted"
git push