.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/target/
/out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

echo '.idea' >> .gitignore
git rm -r --cached .idea
git add .gitignore
git commit -m 'Удалил папку .idea из репозитория'
git push

